/* legend-symbols.css - Mise en forme des marqueurs présents dans la légende du chronogramme */

.legendLineAdmiraltyLim {
    display: inline;
    border-color: #B2886Ce5; /* e5=90% (0.9) */
    border-style: dashed none none none;
    border-width: 2px;
    width: 25px;
    height: 0px;
    margin: auto;
}