/* vizsources.css - Styles CSS de l'application VizSources */
@import url("font-AvenirNext.css"); /* definition / chargement police de caracteres */

body {
    background-color: white;
    color: #0F323A;
    font-family: "Avenir Next", Arial, Helvetica, Tahoma, Verdana, sans-serif, "Segoe UI Symbol", "Segoe UI";
  }
/*
.leaflet-container {
    font-family: "Avenir Next", Arial, Helvetica, "Segoe UI", Tahoma, Verdana, sans-serif;
    font-size: 0.8rem;
}
*/

a {
    text-decoration: none !important;
}
a:link, a:visited {
    color: #3A7686;
}
a:hover {
    color: #ca9b52 !important;
}

/* Barre de navigation - Taille car. du titre */
.txtNavBar {
    font-size: 1.75rem;
}
/* Barre de navigation - Couleur d'arrière-plan */
.bg-orange-100 {
    background-color: #ffe5d0;
}
/* Texte vert clair */
.text-lightgreen {
    color: lightgreen;
}
/* Couleur bordure légende chronogramme */
.border-color-axis-chronogram {
    border-color: #90a4ae;
}
